[2018-03-03 07:02] ViYine opened #4 "Factor's scores compute."
It is thanks to use this for my data analysis. It's friendly used!  On my opinion, the last step of  process of factor analysis is computing the Factor's scores, and this could be added!

[2018-04-12 15:40] eyalshafran opened #5 "Factor Loading - possible error"
In line 194,195 the eigenvalues are sorted but the eigenvectors are not:

        values = sorted(values, reverse=True)[:n_factors]
        vectors = vectors[:, :n_factors]

The factor loadings are then calculated in line 200:

            loadings = np.dot(vectors,
                              np.diag(np.sqrt(values)))

I think that the vectors need to be sorted by the same order as the values,

[2018-04-13 15:26] jbiggsets commented on #5
Thanks for pointing this out, @eyalshafran. I will take a look. :)

[2018-04-13 15:53] desilinguist opened #7 "Move conda package to ETS organization anaconda account"
https://anaconda.org/ETS

[2018-05-02 15:54] jbiggsets commented on #5
Thanks again for pointing this out. We have made some fixes to `master`, which will be included in the next release.

[2018-05-02 15:55] #5 closed

[2018-05-23 15:16] jbiggsets opened #10 "Add new factor rotations"
There are several common factor rotations missing from `factor_analyzer`. It would be nice to add the following:

- `oblimax`
- `quartimax`
- `oblimin`
- `quartimin`
- `equamax`

[2018-05-23 20:01] jbiggsets opened #12 "Add structure matrices for oblique rotations"
We should add the structure matrices for oblique rotations.

[2018-05-23 20:04] jbiggsets opened #13 "Fix rotation matrices"
In `fa()`, the rotation matrices are inverted and transposed after the fact. We do not currently do this in `factor_analyzer`, so the rotation matrix results are not consistent. In order to address #12 this needs to be fixed.

[2018-06-13 09:45] mariaolaaksonen opened #15 "Possibility to choose the correlation"
Would it be possible to give the factor analysis a parameter where you would define the correlation to be used in the correlation matrix calculation? At least pandas corr() function has three methods (Pearson, Spearman and Kendall) from which to choose from.

[2018-06-14 01:01] desilinguist commented on #15
That’s a great idea! 👍

[2018-09-05 13:19] jbiggsets commented on #13
This was adddressed in #14.

[2018-09-05 13:19] #13 closed

[2018-09-05 13:19] jbiggsets commented on #12
This was addressed in #14.

[2018-09-05 13:31] jbiggsets commented on #15
Yes, absolutely.

We will address this in the next release. It would probably be best to allow users to optionally pass their own correlation matrix directly to the `analyze()` method, rather than just passing an argument to `df.corr()`. So, if a user wants something different, like the tetrachoric correlation matrix for dichotomous data, they can just calculate it themselves.

Thanks very much fo

[2018-09-05 13:31] jbiggsets commented on #10
This was addressed in #14.

[2018-09-05 13:31] #10 closed

[2018-09-05 13:32] jbiggsets commented on #4
Thanks very much for the suggestion. We addressed this in the most recent release, #14.

[2018-09-05 13:32] #4 closed

[2018-10-06 21:24] sebtac opened #19 "accessing rotated factor matrix, factor scores"
I am looking for a way to return Rotated Factor Matrix and Factor Scores generated by the model preferably with Regression Method. Is it available in the module?

[2018-12-27 15:15] jbiggsets commented on #19
@sebtac, you can now generate factor scores and do a variety of rotations on the loading matrix. Is this issue resolved? Let me know, and sorry for the delayed response.

[2018-12-27 15:16] jbiggsets opened #21 "Incorporate CFA"
This is a pretty big enhancement, but it may be useful to add CFA as well. Will look into how difficult this might be.

[2019-01-29 15:42] zhangxiaoda007 opened #22 "Can you give the formula to be deduced?"
Hello, I'm researching your factor analysis module
But，I dont know the fromula what you use，
Is it convenient for you to share the basic derivation process?
I want to know the different between it and Spss。
thank you!

[2019-01-29 19:12] jbiggsets commented on #22
Hello @zhangxiaoda007,

If you are using the minimum residual/unweighted least squares approach, `method='minres'` (the default), then the formula to derive the (unrotated) factor loading matrix is fairly straightforward.

(1) **Calculate starting values from SMC**: Assuming `use_smc=True` (the default), we begin by calculating the squared multiple correlations from the original correlation matrix

[2019-01-29 22:28] Fireblend opened #23 "Clarification needed - How is the factor order determined?"
When using the **analyze** function and retrieving the **loadings** dataframe; how is the ordering of the factor columns determined? (factor1, factor2, etc...)

I've been trying to get as close to the way SAS does factor analysis as possible (knowing that factor_analyzer is limited to lm and MINRES while SAS uses PCA), and for a particular dataset (https://raw.githubusercontent.com/selva86/dataset

[2019-01-30 02:55] zhangxiaoda007 commented on #22
Hi,
Thank you very much for your reply, which made my doubts answered.
Best

| |
张绍伟
|
|
zhangsw1991@163.com
|
签名由网易邮箱大师定制
On 1/30/2019 03:12，jbiggsets<notifications@github.com> wrote：

Hello @zhangxiaoda007,

If you are using minimum residual/unweighted least squares approach, method='minres' (the default), then the formula to derive the (unrotated) factor loading matrix is fairly straightforward

[2019-01-30 13:34] jbiggsets commented on #22
Thanks, @zhangxiaoda007. I am going to close this issue. Please feel free to email me directly at jbiggs@ets.org if you have any follow-up questions.

[2019-01-30 13:34] #22 closed

[2019-02-02 17:42] jbiggsets commented on #23
Hi @Fireblend -

Sorry for the delayed response. I had to look into what SAS is doing.

The short answer to your question is that, when SAS performs the `varimax` rotation on the factor loading matrix, it is re-ordering the columns according to the amount of variance accounted for by each factor _after_ rotation. The `factor_analyzer` program is not doing that. It is maintaining the original order

[2019-02-02 17:53] jbiggsets commented on #19
Hi @sebtac, I'm going to close this issue. Please file a new issue if you have further questions. Thanks!

[2019-02-02 17:53] #19 closed

[2019-02-02 17:54] jbiggsets commented on #15
I've merged this into the `master` branch. It will be included in the next release. Thanks again for the suggestion, @mariaolaaksonen!

[2019-02-02 17:54] #15 closed

[2019-02-11 13:44] Fireblend commented on #23
Thanks for the thorough answer! It was of much help. I would also appreciate it if you added an option to order the factors post-rotation.

Thanks again!

[2019-02-11 13:44] #23 closed

[2019-02-25 08:58] sugiyama34 opened #27 "Scaling constants can differ between analyze() and get_scores()"
Hi!
I'm a data scientist in Japan and I'm really happy to do factor analysis with rotation in python.
However, one day, I find a problem as follows.

When we try to calculate the factor score from data:
- the data is standardized by using the mean and stdev. of the data itself, not those of data used in `analyze()`;
  - https://github.com/EducationalTestingService/factor_analyzer/blob/d14770044413

[2019-02-25 18:02] jbiggsets commented on #27
You're absolutely right. We'll fix this in the next release (which should be soon). Thanks very much for catching this issue!

[2019-03-01 20:47] jbiggsets opened #28 "Bug in `get_eigenvalues()`"
There is a minor bug in the `get_eigenvalues()` method. The diagonal of the original correlation matrix can sometimes be permanently filled with the communality estimates. We should be copying the original correlation matrix before we fill the diagonal, since `np.fill_diagonal()` modifies things in place.

This can only happen after the factor model is estimated, so it's not a huge deal, but if we

[2019-03-08 14:41] stepfencurryxiao opened #30 "A problem"
I am a beginner,I use Python 3.7 to enter the following code：
import pandas as pd
import numpy as np
from pandas import DataFrame,Series
from factor_analyzer import FactorAnalyzer

datafile = 'data.xlsx'
data = pd.read_excel(datafile)
data = data.fillna(0)#用0填充空值

fa = FactorAnalyzer()
fa.analyze(data, 5, rotation=None)#固定公共因子个数为5个
print("公因子方差:\n", fa.get_communalities())#公因子方差
print("\n成分矩阵:\n",

[2019-03-08 14:46] jbiggsets commented on #30
Can you share your data set? Feel free to email me at jbiggs@ets.org.

[2019-03-08 14:57] jbiggsets opened #31 "Make issue template"
We should make an issue template, telling users what information we need when they file an issue.

This should include details, such as:
- What are you trying to do?
- What have you tried so far?
- What is the exact error you are getting?
- Can you share your data set (or a sample), so that we can try to replicate the issue?

[2019-03-08 15:22] StepfenShawn commented on #30
Now I'm going to bed. I'll send you the data tomorrow @jbiggsets

[2019-03-09 00:28] stepfencurryxiao commented on #30
I print out the data with Python：

                 600000'   浦发银行     ...     Unnamed: 12 Unnamed: 13
0                     日期     开盘     ...             MA5         MA6
1    2017-09-08 00:00:00  12.75     ...          12.797      12.335
2    2017-09-11 00:00:00  13.05     ...          12.806      12.341
3    2017-09-12 00:00:00   12.9     ...          12.819      12.349
4    2017-09-13 00:00:00

[2019-03-09 00:38] stepfencurryxiao commented on #30
[data.xlsx](https://github.com/EducationalTestingService/factor_analyzer/files/2947904/data.xlsx)

[2019-03-09 00:39] StepfenShawn commented on #30
@jbiggsets  Hi,This is my data
[data.xlsx](https://github.com/EducationalTestingService/factor_analyzer/files/2947905/data.xlsx)

[2019-03-11 00:14] jbiggsets commented on #30
Hello,

I'm not sure which fields you want to include in your factor analysis. You have two fields in this data set that you have to exclude:

- `日期`, which is a date field.
- `成交笔数`, which is all zeros (and therefore has no variance).

I'm not exactly sure what you are trying to do, but I re-ran your analysis under three scenarios: (1) excluding the two fields above, (2) including only fields tha

[2019-03-11 14:24] StepfenShawn commented on #30
Thank you very much! The problem has been solved.
 @jbiggsets

[2019-03-11 14:26] #30 closed

[2019-03-13 02:34] binbinliao opened #32 "Results not the same as in R psych package."
The testing data is:

x1 | x2 | x3 | x4 | x5
-- | -- | -- | -- | --
0.2 | 3 | 21.5 | 13.6 | 7.3
0.5 | 8.4 | 33.5 | 12.1 | 9.8
1.3 | 13.6 | 49.4 | 13.6 | 5.2
1.3 | 11.6 | 47.5 | 13 | 4.9
2.4 | 17.7 | 45.2 | 12.5 | 3.4
0.5 | 12.7 | 50.3 | 10.1 | 5.1

In Python:

[code]
Then I got:
       Factor1   Factor2
x1    0.958472  0.288052
x2    0.943449 -0.311609
x3    0.747067 -0.520007
x4   -0.016515  0.72

[2019-03-27 17:14] jbiggsets commented on #32
Hi @binbinliao,

I think the issue here is that you're using the principal factor extraction method from `psych`. The `factor_analyzer` package allows you to use either a minimum residual or maximum likelihood method, but not principal factor extraction.

The `psych` package's `fa()` function uses a minimum residual extraction method by default. When I check the loadings matrix using this function

[2019-03-28 06:08] yetong2023 commented on #32
Thanks a lot. It's my bad that I missed PCA in psych. Factor_analyzer is a great FA package for Python!

[2019-03-28 06:08] #32 closed

[2019-04-04 13:14] jbiggsets commented on #28
This was addressed in 0.3.0

[2019-04-04 13:14] #28 closed

[2019-04-04 13:15] jbiggsets commented on #27
This issue has been addressed in the latest release, v0.3.0. Thanks!

[2019-04-04 13:15] #27 closed

[2019-04-04 13:15] jbiggsets commented on #21
This has been incorporated in release v0.3.0

[2019-04-04 13:15] #21 closed

[2019-04-04 13:15] jbiggsets commented on #7
Moved factor analyzer to ETS conda with v0.3.0.

[2019-04-04 13:15] #7 closed

[2019-05-21 23:44] thusithaC opened #37 "Does this support mixed data? i.e Binary valued vs numerical data"
Hi  jbiggsets,

Thanks for the package and it has been very helpful for my work. The lack of good statistical packages in Python compared to R is bit of a show stopper. This has indeed been a gem.

While using the module, I'm curious as to whether it can handle mixed data types as inputs. For example variables from a survey that can be wither binary valued and numerical.
Thanks!
Thusitha

[2019-05-22 14:49] jbiggsets commented on #37
Hi @thusithaC ,

The short answer to your question is that it's probably fine with just a mix of continuous and dichotomous variables.

Here's the longer answer. By default, the `FactorAnalyzer` class only computes Pearson product-moment correlations. If you have your own correlation matrix, you can pass that directly, and set `use_corr_matrix=True`.

As you probably know, the general rule is as f

[2019-05-23 13:37] thusithaC commented on #37
Thanks for the response.
I have looked at FAMD (https://www.rdocumentation.org/packages/FactoMineR/versions/1.41/topics/FAMD ) implementation in R, and possibly using Rpy for this as well, but unfortunately it doesn't support any type of rotation after the transformation is applied. I guess it might be possible to do the rotation as a secondary step but I didn't get a chance to have a look at in d

[2019-05-23 13:37] #37 closed

[2019-05-23 13:50] jbiggsets commented on #37
Just in case you're not aware, there is a package in R called `polycor` with a `hetcor()`function to generate a heterogeneous correlation matrix using the appropriate pair-wise correlations for mixed data types.

https://www.rdocumentation.org/packages/polycor/versions/0.7-9

[2019-05-29 01:26] AgentDS opened #38 "KMO value to be NaN"
I try to calculate the KMO value for 4 data sets as:
[code]
where ``df1``,``df2``,``df3``,``df4`` are 4 similar data sets.
And I got ``kmo_total1``, ``kmo_total3``, ``kmo_total4`` higher than 0.85 while ``kmo_total2`` to be ``NaN``. Why? I remember that KMO should be between 0 and 1. By the way that in ``kmo_all2``, all values are ``NaN``. How could it happen?

[2019-05-29 12:32] jbiggsets commented on #38
Can you share any of your data sets?

[2019-06-07 14:38] jbiggsets commented on #38
Hi @AgentDS, if you have `NaN` values in your data, then you'll get `NaN` results. We're using `numpy.sum()` under the hood.

[code]

If you don't have `NaN` values in your data, then I'm not sure what's going on, so please let me know if you can provide a sample data set, or at least some additional details about your data.

With regard to your second comment, I'm a little confused. You write, "I

[2019-06-13 16:22] jbiggsets commented on #38
Hi @AgentDS, I'm going to close this issue. Please feel free to reopen if you have any additional questions.

[2019-06-21 15:15] kiwi0fruit opened #39 "please consider publishing on conda-forge conda channel and supporting python 3.7 (may be via noarch recipe)"

[2019-07-18 18:01] Fireblend opened #40 "Add "Reorder factors after rotation" option to analyze(...) method"
See issue #23 for context:

This would allow the method to replicate SAS' behavior regarding column order in its output.

[2019-07-18 19:19] jbiggsets commented on #40
In the latest major release, we actually do reorder the factor columns after rotation, according to the amount of variance accounted for by each factor.

See here:

https://github.com/EducationalTestingService/factor_analyzer/blob/553656edccc02aec3ea0dbd96c23ab87827707fe/factor_analyzer/factor_analyzer.py#L654-L656

But please let me know if something isn't working correctly, or if you have any ot

[2019-07-31 09:01] blessu opened #42 "ddof biased"
First, thanks a lot for this module, much more convenient than the function in sklearn.

The setting of `cov` calculation (and thus `corr`) is biased, because the parameter is set `ddof=0`.

https://github.com/EducationalTestingService/factor_analyzer/blob/553656edccc02aec3ea0dbd96c23ab87827707fe/factor_analyzer/utils.py#L28

Any mathematical reason?

[2019-07-31 13:36] ricardo-arl commented on #38
Hello, something similar is happening to me. I double checked and my dataset has no NaNs. I think the problem happens when it calculates the partial correlations. Attached you will find the dataset.

Note: if I change the partial correlation function that comes default with the package to this one, the code works without NaN's.

https://gist.github.com/fabianp/9396204419c7b638d38f

`def partial_co

[2019-07-31 19:13] jbiggsets commented on #40
I'm going to close this issue. Please feel free to reopen if you have any other questions.

[2019-07-31 19:13] #40 closed

[2019-08-01 18:28] jbiggsets commented on #38
Hi @ricardo-arl,

I think what's going on here is that the variance-covariance matrix has a determinant that is extremely close to zero, which means it really shouldn't be inverted. However, `numpy` will still calculate the inverse unless the matrix is really, really singular.

[code]

The `partial_correlations()` function in `factor_analyzer` is just a port of the `pcor` function in R. But, unlik

[2019-08-01 19:31] ricardo-arl commented on #38
Perfect. I think updating it with the pseudo-inverse matrix as pcor does, along with its warning, would be a great way to solve it.

Thanks!

[2019-08-01 19:35] jbiggsets commented on #42
This is a good question.

We only use the `cov()`  function in CFA, which is still very much a work-in-progress. In general,  want our output to imitate R's `lavaan` package, and by default `lavaan` is rescaling the sample covariance to the population.

However, you're right that if anyone wants to use this function outside of `factor_analyzer`, this probably isn't what they want. I'll make `ddof`

[2019-08-06 06:32] blessu commented on #42
Thanks, it may also affect the `calculate_kmo` function.

[2019-08-06 12:10] jbiggsets commented on #42
Ah, you're right. Thanks for submitting the issue, I'll update this soon!

[2019-08-09 13:46] desilinguist opened #44 "Add a docs badge from shields.io to the README."

[2019-09-11 14:25] GSnuiv opened #46 "Bug when ussing oblimin rotation"
Hi!

First of all thanks for the aesome package, I've found it very usefull, but there is something I cannot do, use the gamma parameter for oblimin rotation.

When I execute    ```FactorAnalyzer(n_factors=x[0], rotation=x[1],method=x[2], rotation_kwargs={'gamma':0.5},  use_smc=True )```  the error launched is the following:

 ```ValueError: Input must be 1- or 2-d.```

It's appear to come from he

[2019-09-11 15:15] jbiggsets commented on #46
Definitely a bug. Thanks for catching this!

That should be `np.diag(np.full(1, p))`. I'll address this in the current PR I'm working on. We're planning on a new release in the next couple weeks, so this is very timely.

[2019-10-17 17:16] dmnapolitano opened #49 "Structural Equation Modeling"
Port of the SEM code from R's `lavaan` package 👍

[2019-10-17 17:16] dmnapolitano commented on #49
It seems as though I can't assign myself to this issue lol 🤔

[2019-10-29 18:24] dmnapolitano commented on #49
Although: https://arxiv.org/abs/1905.09376

@jbiggsets 🤔

[2019-10-30 22:06] spider-z3r0 commented on #39
Is this far off? I'd like to use this for confirmatory analysis as I have already used it for EFA and have really liked the module, however, I'm using python 3.7 and I can't seem to upgrade to the latest version.

[2019-11-22 16:46] jbiggsets commented on #46
I've addressed this in the `master` branch. Will be incorporated in the next release.

[2019-11-22 16:46] #46 closed

[2019-11-22 16:46] jbiggsets commented on #42
Addressed this in the `master` branch.

[2019-11-22 16:46] #42 closed

[2019-11-22 16:47] jbiggsets commented on #38
Addressed in `master`

[2019-11-22 16:47] #38 closed

[2020-01-23 14:46] fredshu opened #52 "Analyze module missing in 3.0.2 version"
It seems that the analyze module is missing in the 3.0.2 version.

[2020-01-23 15:03] #52 closed

[2020-02-04 08:28] Xylambda opened #53 "Add weights attribute"
Hi,

I would like to suggest a new attribute to the `factor_analyzer.py` module. Some applications require to access the weights (B) used to calculate F = Z · B in the `transform` method.

As an example, I leave a paper with such use (`Table 9: Component score coefficient matrix`):
https://www.researchgate.net/publication/227440018_Constructing_an_alternative_dollar_index_to_gauge_the_movements_in

[2020-02-19 00:07] tonytbui opened #54 "The optimization routine failed to converge: b'ABNORMAL_TERMINATION_IN_LNSRCH'"
Hi, I ran cfa.fit() on a 33x119 dataset and got this error:

[code]

Here's the code I used:
[code]

[2020-02-19 00:24] desilinguist commented on #54
It looks like the minimization that is done as part of factor model fitting does not converge for your specific dataset. Can you replicate the issue using R?

[2020-02-19 00:27] tonytbui commented on #54
Is there a setting that I can change in `/Users/*/opt/anaconda3/lib/python3.7/site-packages/factor_analyzer/confirmatory_factor_analyzer.py` to work around that minimization?

Also, by "using R," do you mean the Lavaan pakage?

[2020-02-19 00:29] desilinguist commented on #54
No, there’s no such setting because the minimization is a core part of the model fitting.

Yes, R + `lavaan` is a reasonable counterpart.

[2020-02-19 01:06] tonytbui commented on #54
I used lavaan and got somewhat more understandable errors:
[code]

Update: I cut down to 2 indicators per factor and 4 factors in total. This avoided the (nobs < nvar) error but showed another error that might corroborate with python's factor_analyzer:
[code]

[2020-03-04 14:13] desilinguist commented on #53
Hi @Xylambda, thanks for the suggestion! Any change you’d have the bandwidth to submit a pull request? It’d be most appreciated!

[2020-03-04 19:54] Xylambda commented on #53
Hi @desilinguist
No problem.
You can find it [here](https://github.com/EducationalTestingService/factor_analyzer/pull/55).

[2020-03-18 19:45] Chandrak1907 opened #56 "ImportError: No module named utils"
How to resolve this issue?

[2020-03-18 21:59] desilinguist commented on #56
Please provide details how you installed `factor_analyzer`.

[2020-03-19 01:16] desilinguist commented on #56
I just tried it and it works just fine for me.

[code]

Are you sure your pip installation completed successfully?

[2020-03-19 17:59] desilinguist commented on #56
Any updates on this? If not, I'll close the issue.

[2020-03-19 18:50] Chandrak1907 commented on #56
sorry .. pls close this.  I forgot to check python version.

[2020-03-19 21:47] #56 closed

[2020-05-15 17:19] cbtq opened #57 "issue about bartlett."
def calculate_bartlett_sphericity(x):
    """
    Test the hypothesis that the correlation matrix
    is equal to the identity matrix.identity

    H0: The matrix of population correlations is equal to I.
    H1: The matrix of population correlations is not equal to I.

    The formula for Bartlett's Sphericity test is:

    .. math:: -1 * (n - 1 - ((2p + 5) / 6)) * ln(det(R))

    Where R det(R)

[2020-06-02 01:28] #53 closed

[2020-06-02 13:25] desilinguist commented on #39
There's no plan for conda-forge support as of right now. However, Python versions 3.4-3.7 are now already supported.

[2020-06-02 13:25] #39 closed

[2020-07-12 00:16] pinpointcoder opened #62 "When doing EFA, is there a way to pass random_state to externalized_svd"
Currently different runs of EFA produces different results, It will be great if we can control it by passing the `random_state` to `externalized_svd`.

Let me know if this requests makes sense, I can raise a pull request.

Thanks for the library

Cheers

[2020-07-13 13:41] desilinguist commented on #62
Hi @pinpointcoder please feel free to submit a PR. This sounds quite useful.

[2020-09-25 17:47] zeromh opened #63 "Add Geomin rotation"
I'm doing work in python for which I'd like to use geomin rotation. I see that geomin isn't implemented in `factor_analyzer`. It looks straightforward to implement and I was considering doing so.

I think I'd have to create a `_geomin_obj` function in `rotator.py` that gives the gradient and criterion for geomin. The equations for this are in "GRADIENT PROJECTION ALGORITHMS AND SOFTWARE FOR ARBITR

[2020-09-25 17:49] desilinguist commented on #63
Hi @zeromh! That sounds pretty reasonable to me. Thank you so much for your suggestion and I look forward to your PR!

[2020-09-25 22:43] zeromh commented on #63
What's expected in terms of unit tests? From what I can gather, there is a lot of manual work to set up an R env, create R loadings, and write a lot of unit tests that do the same thing on different data sets (this could have been parametrized).

Also what is used to run tests? I don't see `unittest` or `pytest`...

[2020-09-26 05:09] desilinguist commented on #63
Take a look at the tests folder for unit tests. We use nose to run the tests and Travis CI is used to automatically run the tests for every branch.

________________________________
From: zeromh <notifications@github.com>
Sent: Friday, September 25, 2020 6:43:45 PM
To: EducationalTestingService/factor_analyzer <factor_analyzer@noreply.github.com>
Cc: Nitin Madnani <nmadnani@gmail.com>; Comment <co

[2020-09-26 17:22] zeromh commented on #63
Ah, I'm not familiar with nose but it looks straightforward enough. I'll plan on running tests with that.

My question is still what tests exactly do you require for a new Rotator method, and what's the process for creating the necessary components (e.g. geomin-rotated loadings from R, if that's what you're testing against)?

[2020-09-28 02:30] jbiggsets commented on #63
Hi @zeromh: In general, the process has been to run test data through R (specifying a few different factor numbers). You can find test data [here](https://github.com/EducationalTestingService/factor_analyzer/tree/master/tests/data) or feel free to add your own.

Once you've run the data through R, generate CSVs for the loadings, communalities, etc. Then write your unit tests to make sure that the

[2020-09-28 19:16] jbiggsets commented on #63
Added a WIP PR to address this issue.

[2020-09-30 22:26] zeromh commented on #63
Right, so different rotator methods use different test data sets. For example, `oblimin` uses test sets 2, 4, 7, and 7gamma. Which tests do you expect in order to approve a PR?

Also, I was planning on adding geomin only for oblique rotation. The paper on these methods notes that geomin may not be very useful for orthogonal (although R does implement it). Thoughts?

[2020-10-01 01:15] jbiggsets commented on #63
@zeromh, yup, that's correct with regard to the test data.

I submitted a PR for both the oblique and orthogonal rotations and added you as a reviewer. It didn't require a lot of additional code to implement for both, so I figured there was no reason not to.

Please take a look when you get a chance and let me know if this isn't what you had in mind, or feel free to make changes/additions! I've ad

[2020-10-02 13:03] jbiggsets commented on #62
I'll work on this.

[2020-10-02 13:05] jbiggsets commented on #57
Sorry, I totally understand. This should be 1 - `cdf`, not `pdf` Addressing this in #66.

[2020-10-02 13:05] jbiggsets opened #65 "Rename package to `factorum`"
For the next release, let's rename the package to `factorum`.

[2020-10-02 13:10] jbiggsets commented on #31
Added.

[2020-10-02 13:10] #31 closed

[2020-10-02 16:34] desilinguist commented on #65
We'll have to figure out what to do about the existing packages. Do we just abandon that one or do something more specific? This might be a good reference: https://www.dampfkraft.com/code/how-to-deprecate-a-pypi-package.html

Redirect seems like a good option? I wonder if anaconda.org allows something like that.

[2020-10-02 16:53] jbiggsets commented on #65
Cool. I will take a look!

[2020-10-05 23:18] jbiggsets commented on #57
This is resolved with PR #66. Will be incorporated into the next release.

[2020-10-05 23:18] #57 closed

[2020-10-07 17:23] desilinguist opened #67 "Rename `master` branch to `main`"
This article is probably helpful: https://medium.com/faun/git-step-by-step-renaming-a-master-branch-to-main-16390ca7577b

[2020-11-02 23:00] desilinguist commented on #67
Okay, `master` has been deleted and `main` is now the default branch. I have also changed the default branches for the travis and codecov integrations.

[2020-11-02 23:00] #67 closed

[2020-11-02 23:01] desilinguist commented on #63
Addressed by #64.

[2020-11-02 23:01] #63 closed

[2020-11-07 18:48] claudiomartelli opened #69 "calculate_bartlett_sphericity error"
The function calculate_bartlett_sphericity(x) return the following error:

/usr/local/lib/python3.6/dist-packages/factor_analyzer/factor_analyzer.py:118: RuntimeWarning: invalid value encountered in log
  statistic = -np.log(corr_det) * (n - 1 - (2 * p + 5) / 6)

I verified that:
with my data:

np.linalg.det(x_corr)= -3.545142402311294e-53

so the problem is the log on a negative number.
Is there

[2020-11-19 11:27] JohannesWiesner opened #70 "Add RMSEA, Chi2, CFI and Tucker-Lewis index as quality indices"
I am referring to this [stackoverflow post](https://stackoverflow.com/q/58719228/8792159) where the user **KevOMalley743** had the idea to add RMSEA, Chi2, CFI and Tucker-Lewis index as quality indices for the `factor_analyzer.confirmatory_factor_analyzer.ConfirmatoryFactorAnalyzer` class. Is there a plan to include this indices?

[2020-11-19 22:42] desilinguist commented on #70
Hi @JohannesWiesner there aren't any immediate plans to do this but we will welcome any PRs 🙏!

[2020-11-20 09:25] JohannesWiesner commented on #70
For my current research project, I might use `factor_analyzer.confirmatory_factor_analyzer.ConfirmatoryFactorAnalyzer`. If I should have to calculate those indices anyway, I will share the code with you (though I am not sure if I have enough time to dig deep into your code and send a complete PR that respects your object-oriented structure).

[2020-12-01 13:21] qingfengliu opened #71 "The factor correlations matrix in doc"
The factor correlations matrix in model factor_analyzer.analyze is phi_ or psi_ ?

[2020-12-01 15:55] jbiggsets commented on #69
Hmm. I don't think there's anything wrong with the formula.

Can you share the `x_corr` matrix? I don't think the determinant of a correlation matrix should be negative, if the matrix is actually positive semi-definite. But let me know if you think I'm missing anything.

(Alternatively, if you can't share the matrix, can you check to make sure all the eigenvalues of `x_corr` are positive?)

[2020-12-01 16:14] jbiggsets commented on #70
@JohannesWiesner, I don't think we're planning to include these metrics any time soon, but if you're interested, the `semopy` package has a much more robust API for confirmatory factor analysis and includes all of the statistics you mentioned (see [here](https://gitlab.com/georgy.m/semopy/-/blob/master/semopy/stats.py)).

[Here](https://pypi.org/project/semopy/) is the PyPI page, and [here](https:

[2020-12-01 16:16] jbiggsets commented on #49
Closing this issue. People can use the new `semopy` 2.0 package for SEM.

https://pypi.org/project/semopy/

[2020-12-01 16:16] #49 closed

[2020-12-01 16:47] jbiggsets commented on #71
It's `phi_`. The documentation (incorrectly) says `psi`. Will update this in the next release.

[2020-12-02 12:10] JohannesWiesner commented on #70
@jbiggsets, yes I've also discovered the `semopy` package in the meantime. Thanks for linking to it, you can close this issue.

[2020-12-09 01:44] #70 closed

[2020-12-23 15:26] gneusch opened #72 "GridSearchCV FactorAnalyzer error"
Hi Jeremy,
How are you?
I ran into an error I cannot solve, and I don't find any clue on the internet. I tried to integrate a FactorAnalyzer into an sklearn GridSearchCV. As far as I know as it has a fit and a transform method it should work, shouldn't it? But unfortunately I'm running into the following error:

```RuntimeError: Cannot clone object FactorAnalyzer(rotation_kwargs={}), as the constr

[2021-03-04 18:51] desilinguist opened #73 "Migrate CI builds from Travis CI to Gitlab CI"
Since Travis CI no longer seems to be offering open source credits for free, we need to move to GitLab CI since it works with GitHub repos.

Here is the process to follow:

1. Follow the steps [here](https://docs.gitlab.com/ee/ci/ci_cd_for_external_repos/github_integration.html) to set up a mirror repository on Gitlab only for CI/CD purposes.

2. Go to the newly mirrored project on GitLab. Go to S

[2021-03-17 09:41] gaardhus opened #74 "Getting an error when trying to fit factor loadings to original data"
**Describe the bug**
I'm doing factor analysis on a matrix with the dimensions 17x153, so I have more columns than rows. Normally, I would expect a PCA to return the same number of components as variables, but in my instance it only returns 17. I get the correct factor loadings for the 17 components, however when I try to fit it to the original data - in order to see how my original observations a

[2021-03-17 23:58] jbiggsets commented on #74
Thanks for submitting this issue.

The way we're calculating the principal factors currently is using the `randomized_svd()` function from scikit-learn. This is a lot more efficient and resolves some of the [intrinsic sign indeterminacy](http://models.life.ku.dk/signflipsvd) problems with SVD. However, it has the drawback that the number of factors is limited to `K`, where `K = min(M, N)`. In your

[2021-03-18 01:06] desilinguist commented on #74
I like the option of giving the users the choice. Is that a lot of work?￼

[2021-03-18 01:19] jbiggsets commented on #74
No, I think it should be pretty easy to implement. I can work on it with this next release, if we're aiming for mid-April.

[2021-03-18 01:20] desilinguist commented on #74
Fantastic! Let's go for it.

[2021-03-19 23:53] desilinguist commented on #69
@claudiomartelli I am going to close this issue. If you want to continue the conversation, please reopen it.

[2021-03-19 23:53] #69 closed

[2021-03-20 00:30] #73 closed

[2021-03-24 12:18] gaardhus opened #77 "Loadings change relative position to each other after rotation"
**Describe the bug**
I'm trying to orthogonally rotate loadings obtained by a PCA by using the rotator function, however the result changes the loadings change relative position to each other after rotation. This is more evident when more components are kept before rotation, and when only the two largest components are kept almost fits the original data.

**To Reproduce**
Steps to reproduce the be

[2021-03-24 20:26] jbiggsets commented on #77
Thanks for the detailed explanation and for providing your loadings matrix and a code snippet.

I'm not sure I entirely understand the problem, but I'm pretty confident it isn't a bug in ``factor_analyzer``. I ran your loadings matrix through R's ``GPArotation`` library using a Varimax rotation and got exactly the same output as ``factor_analyzer``. (I tried this for only the first two components

[2021-03-25 01:18] jbiggsets commented on #74
The more I look into this, the more I think that we shouldn't actually permit this use case. I still think we can allow users to choose between `randomized_svd()` and `scipy.linalg.svd()`, but scikit-learn's `PCA()` estimator also prevents users from trying to do PCA when the number of components is set higher than `min(n_samples, n_features)`.

[code]

Output:
[code]

[2021-03-25 19:06] desilinguist commented on #74
Yeah, let's follow their lead and do the same then?

[2021-03-25 23:48] jbiggsets commented on #74
Yeah, I think that makes the most sense.

[2021-03-26 17:44] #72 closed

[2021-03-26 17:44] #74 closed

[2021-04-27 00:45] p09323028 opened #78 "Something wrong about "rotation_matrix_""
**Describe the bug**
There are different signs in "Component Transform Matrix" between SPSS and this package.

**Screenshots**
https://imgur.com/7TJ4Flr

[2021-04-27 14:13] jbiggsets commented on #78
Can you provide some additional details, so that we can try to replicate?

It would be most helpful if you could provide:
1. A snippet of your `factor_analyzer` code, so that we can see the method and type of rotation you're doing.
2. A snippet of your SPSS code.
3. If possible, the dataset that you're using.

It's hard to look into this issue without having the above information. Thank you!

[2021-04-27 14:30] jbiggsets commented on #77
I'm going to close this issue. Please open a new issue if you have additional questions.

[2021-04-27 14:30] #77 closed

[2021-04-28 00:54] p09323028 commented on #78
Provide all information here:
https://tinyurl.com/2c3c9hej

This is my course homework,
but I got different results with my classmates'.

Thanks.

[2021-05-20 22:36] desilinguist commented on #78
Addressed by #79.

[2021-05-20 22:36] #78 closed

[2021-05-21 13:53] duckykao opened #82 "Methods to derive loadings"
Hi, Thanks a lot for providing such package in Factor Analysis.

I am a student working on multivariate analysis class, and I have learned three methods in deriving out loading matrix.
1. Principal component method (ref : https://aaronschlegel.me/factor-analysis-principal-component-method-r.html)
2. Principal factor method  (ref : https://rpubs.com/aaronsc32/factor-analysis-principal-factor-method

[2021-05-21 21:19] jbiggsets commented on #82
Hello, @duckykao . Thanks very much. The `principal` method in `factor_analyzer` actually corresponds to the principal factor method, _not_ principal component analysis. If you want to do PCA, you can use `scikit-learn`.

Let me know if that doesn't make sense, or if you have additional questions. Otherwise, I will close this issue.

[2021-05-22 05:00] duckykao commented on #82
Hi, @jbiggsets Thanks a lot for explaining, there is no more questions. Really appreciate it.

[2021-05-22 05:00] #82 closed

[2021-05-25 22:20] #44 closed

[2021-06-02 19:29] IlanReinstein commented on #32
Hi,
I have encountered a similar behavior with my data:

Python:
`from factor_analyzer import FactorAnalyzer`
`fa = FactorAnalyzer(n_factors=1)`
`fa.fit(zX)`

The result for the loadings:

`
array([[-0.74235256],
       [-0.69099752],
       [-0.74306825],
       [-0.78354219],
       [-0.66765199],
       [-0.67873326]])
`

For R instead, with the same data:

`X_fa <- psych::fa(zX, nfactors = 1,

[2021-06-03 02:13] jbiggsets commented on #32
Hello, can you try setting the rotation in `FactorAnalyzer` to `varimax`? The default is `'promax'`.

[code]

If you are still noticing a discrepancy, can you share the correlation matrix? I didn't see it attached to this issue. (There may still be a discrepancy with R, but I want to verify that this is the case.)

[2021-06-03 13:10] IlanReinstein commented on #32
I still see the same issue when changing to `varimax`; the loadings have the same value but with a negative sign.

Sorry about the correlation matrix, here it is:

[correlation_matrix_factor_analysis.csv](https://github.com/EducationalTestingService/factor_analyzer/files/6591889/correlation_matrix_factor_analysis.csv)

[2021-06-06 06:42] sergemelnikov86 opened #84 "correct way to calculate correlations between factors"
Sorry, it's not bug report, just didn't find where can ask a question
Could you please look this question, where is my mistalke there? (also tried "phi_", it returns None)
https://stackoverflow.com/questions/67856186/correct-way-to-calculate-correlations-between-factors

[2021-06-06 06:43] #84 closed

[2021-06-06 06:44] sergemelnikov86 commented on #84
it's not a bug report

[2021-06-06 06:44] sergemelnikov86 opened #85 "correct way to calculate correlations between factors"
Could you please look this question, where is my mistalke there?
https://stackoverflow.com/questions/67856186/correct-way-to-calculate-correlations-between-factors

[2021-06-07 01:50] jbiggsets commented on #85
Hello, I responded to your question on StackOverflow. Please let me know if
you have any additional questions.

Thanks,
Jeremy

On Sun, Jun 6, 2021 at 2:45 AM sergemelnikov86 ***@***.***>
wrote:

[2021-06-07 02:01] desilinguist commented on #85
Fantastic answer @jbiggsets !

[2021-06-07 02:57] sergemelnikov86 commented on #85
@jbiggsets thanks for an answer! will try to understand how works this check method.. can you please tell what is mistake in my method "get_correlations_between_factors" (by factor scores) and why it gave correct (almost identity) matrix for sklearn package FA?

[2021-06-09 00:03] jbiggsets opened #86 "Implement ten Berge factor scores"
**Is your feature request related to a problem? Please describe.**
Nope!

**Describe the solution you'd like**
There are multiple ways to calculate factor scores. Currently, `factor_analyzer` implements the regression-based Thurstone method; however, the the Berge method does a better job of preserving the original correlations.

**Describe alternatives you've considered**
Alternative is not to im

[2021-06-09 01:10] #85 closed

[2021-06-14 01:38] sergemelnikov86 opened #87 "Very strange result of varimax FA"
I'm doing web version of Kelly's rep test, where we have table of estimations of people by user generated features and by FA we extract factors of this table by fa.transform(df); resulting table always has typically for normal distribution values (about -2 to 2). But for one case I recieved very strange result (it's on attached image). I've checked - without rotation we have typically table, it se

[2021-06-14 17:45] sergemelnikov86 commented on #87
calculate_kmo(df) for this table gives kmo_total=0.162, can this explain such strange result? (but why without rotation and with varimax by sklearn we have normal result table)?

[2021-06-18 00:45] sergemelnikov86 commented on #87
if this is a silly question, can you please at least briefly answer why it is? I'm not an expert at all, but out of about 20 cases this is really the only one with such strange values..

[2021-08-14 18:28] LilianYou opened #88 "aic and bic output nan"
Hi,

I conducted a cfa analysis, but the aic_ and bic_ outputs are both "nan". I wonder if there could be any example in calling aic and bic? And what might be the reason that I receive "nan"?

[2021-08-14 19:12] desilinguist commented on #88
Hi @LilianYou please share the data if possible so we can try and replicate the issue.

[2021-08-15 07:18] LilianYou commented on #88
Here I uploaded sample data: https://docs.google.com/spreadsheets/d/1RCNK1t1L2sY4s0-iMudpPisFKnlRHuj729wPVejNfU0/edit?usp=sharing

below are the codes I used:
`model_dict = {"F1": ["navigation_skills"], "F2": ["age"], "F3": [ "communte_level", "sleep"]}

model_spec = ModelSpecificationParser.parse_model_specification_from_dict(df2, model_dict)

cfa = ConfirmatoryFactorAnalyzer(model_spec, disp=Fal

[2021-08-23 14:28] Db-pckr opened #89 "Loadings Different (negative) vs SPSS/R Psych Lib results"
Based on a correlation matrix, the calculated results with factor_analyzer are different than when running in SPSS, as in they seem to be multiplied by (-1). Communalities are more or less equal.

Example Matrix below (12x12):

1.00 | 0.53 | 0.26 | 0.14 | 0.18 | 0.24 | 0.24 | 0.22 | 0.20 | 0.21 | 0.21 | 0.36
0.53 | 1.00 | 0.33 | 0.34 | 0.39 | 0.51 | 0.50 | 0.42 | 0.27 | 0.43 | 0.35 | 0.52
0.26 | 0

[2021-09-01 11:04] Db-pckr commented on #89
Update: Tested vs R Psych library, same issue. Realized that the problem seems to occurr when the correlation matrix is all positive. If even 1 value from it is negative, the results match. Maybe this helps debug...

[2021-09-01 14:39] jbiggsets commented on #89
Thanks for the follow up! I will look into this very soon.

[2021-10-06 11:20] nachomaiz opened #90 "Equamax rotation giving similar results to quartimax instead"
**Describe the bug**
Using equamax rotation gives the same results as quartimax to around 12 decimal points.

Quartimax results match with SPSS but not the equamax ones.

**To Reproduce**
[code]

This prints `True True`, but the loadings and rotation matrices should be different.

**Expected behavior**
The equamax and quartimax results should be different from each other AND closely match with SPS

[2021-10-06 12:05] desilinguist commented on #87
@jbiggsets any ideas here?

[2021-10-06 12:18] sergemelnikov86 commented on #87
here is the table of raw values (if any other format is convinient I can send as well of course) https://docs.google.com/spreadsheets/d/17IKteczU-KX6GB-bsNRh8WKXLuersVcCZV1mFOvLymA/edit?usp=sharing

[2021-10-06 14:34] nachomaiz commented on #90
I've been looking at the code and, at a glance, it seems like it's running the right methods. No apparent typos when assigning the right objective for the `Rotator` class.

I also couldn't find a test for equamax in the `tests` folder.

I'm not too well-versed in the actual math behind it, but I guess if, according to [the STATA manual](https://www.stata.com/manuals13/mvrotate.pdf) equamax is some

[2021-10-06 22:25] jbiggsets commented on #87
Hi @sergemelnikov86, I took a quick look. I'm not entirely sure about the factors being normally distributed without rotation, but the KMO score for your dataset is extremely low, which means it really isn't appropriate for factor analysis. There are some very high correlations (and partial correlations) in your data, including one correlation that's greater than 0.9.

When I ran the dataset throu

[2021-10-06 23:13] sergemelnikov86 commented on #87
Hi @jbiggsets , thanks for an answer! Unfortunately my math knowledge is still too low to understand that problem, but do you know why again sklearn.factor_analysis gives appropriate result for this data with varimax? What optimisation can be there for such data? Your facror_analyzer has much prettier and rich interface and I want to use only it but now only way I see is to run factor_analyzer, ch

[2021-10-07 00:55] jbiggsets commented on #87
Can you explain what you mean when you say that the scores from `sklearn`'s `fa.transform()` method are normally distributed while the `FactorAnalyzer` score are not?

Here are the results that I get:

<img width="936" alt="Screen Shot 2021-10-06 at 8 58 22 PM" src="https://user-images.githubusercontent.com/30508716/136303879-fa002897-f71e-4f2e-bbbb-d7015584d31c.png">

[2021-10-07 02:03] jbiggsets commented on #89
I can't seem to reproduce this issue. For example, using the data provided above (`data`), here are my results:

[code]

[code]

 This matches R's `psych` library. Let me know if I'm missing something!

[2021-10-07 02:05] jbiggsets commented on #90
Thanks! I'll look into this.

[2021-10-07 07:10] sergemelnikov86 commented on #87
@jbiggsets  Oh, I'm sorry -- strange result comes when one column is deleted _(I tried to delete columns that are badly explained by FA - have little explained variance score - and perform FA without them and then show factors plus this columns)_, forgot to make this, now updated table:
https://docs.google.com/spreadsheets/d/17IKteczU-KX6GB-bsNRh8WKXLuersVcCZV1mFOvLymA/edit#gid=0
Check again pleas

[2021-10-07 08:22] Db-pckr commented on #89
I'm using:
pandas 1.2.4
numpy 1.20.2
python 3.8.10

If you're getting correct results I would guess it's because of an older numpy version to be honest, and how it is used internally in factor_analyzer.
Thanks!

[2021-10-07 18:41] jbiggsets commented on #87
Got it. I see what's going on now.

There are different ways of calculating factor scores. `FactorAnalyzer` uses regression, which is the default in R's `psych` package. When you calculate the scores in R using your dataset with the default `scores="regression"` option, you get the following:

<img width="332" alt="Screen Shot 2021-10-07 at 2 23 40 PM" src="https://user-images.githubusercontent.co

[2021-10-07 19:32] sergemelnikov86 commented on #87
Ok, thanks for the explanation!

[2021-10-15 16:47] nachomaiz commented on #90
Hey @jbiggsets,

I think I found the issue why I couldn't get equamax to match with SPSS outputs and why it was similar to quartimax.

It seems SPSS works out the kappa variable for the equamax rotation, while in every python implementation I've seen (scikit-learn, factor_analyzer, statsmodels, even R) kappa defaults to 0.

kappa in equamax is I believe `n_factors / ( 2 * n_variables)`

So, for th

[2021-12-08 06:59] txf402066270 opened #93 "When will the full functionality of psych be supported? For example, scores = "Bartlett" and other functions."
When will the full functionality of psych be supported? For example, scores = "Bartlett" and other functions.

[2021-12-08 15:20] desilinguist commented on #93
The goal of this project is _not_ to fully port the R `psych` package to Python. If you are interested in a specific feature, please feel free to contribute.

[2021-12-08 15:20] #93 closed

[2021-12-18 11:57] schnell3526 opened #94 "Appearing warning for sklearn update"
**Describe the bug**
I get a warning when calling the fit method from the FactorAnalyzer class.
This warning is likely to accompany a future update of randomized_svd function of skearn.

**To Reproduce**
excute bellow command
[code]

**Expected behavior**
There should be no warning.

**Desktop:**
 - OS: macOS Big Sur version 11.6
 - Browser [chrome]
 - Version [22]

**Additional context**
 It look

[2021-12-20 19:18] #94 closed

[2022-02-04 10:18] vargava opened #96 "`UnboundLocalError` with principal-lapack method types and any oblique rotations"
**Describe the bug**
It appears to be an issue due to a variable `new_order` defined within a condition that excludes the `principal` method for EFA, but then calls upon the same variable in a conditional format when there is a structure matrix. Basically, there needs to be a more accessible definition of what the `new_order` is, in the event that we have a `principal` method choice and also have

[2022-03-04 17:29] jbiggsets commented on #96
Thanks for raising this. Will take a look soon!

[2022-03-21 17:19] jimmybru opened #99 "Add CFI and RMSEA goodness-of-fit metrics"
My (quite inexpert) understanding is that CFI and RMSEA are the goodness-of-fit measures par excellence when it comes to CFA.  It seems that Chi-squared is also useful.

Would it be possible to add these metrics, like around here? https://github.com/EducationalTestingService/factor_analyzer/blob/main/factor_analyzer/confirmatory_factor_analyzer.py#L379

[2022-04-02 14:44] jbiggsets commented on #99
@desilinguist, I'll have to double-check some of the formulas below, but I think RMSEA is pretty easy and do-able. (You can find a [couple](http://davidakenny.net/cm/fit.htm) [references](https://link.springer.com/article/10.3758/s13428-018-1055-2) here.)

Here are some of the steps, as far as I understand:

1. **Implement the Chi-squared test statistics.** I believe this is just `chi2 = self.n_ob

[2022-04-02 14:54] desilinguist commented on #99
This is amazingly helpful, @jbiggsets! I'll try and take a stab at RMSEA soon. It's funny you mention semopy since that's exactly what @jimmybru is using right now. I told him he should look into replacing that with factor analyzer but he needs these metrics to do that.

[2022-04-02 21:51] jimmybru commented on #99
You guys are Beautiful!

[2022-04-02 21:54] jimmybru commented on #99
Btw: this should probably be another issue, but just in case the answer is obvious, I’ll ask here: I don’t see a way in factor_analyer to specify covariances in the model like you can in semopy.  Is that true?  If so, is the default that all factors are orthogonal, or is everything allowed to covary with everything?

[2022-04-24 13:05] Jamal135 commented on #96
Is any progress happening with this issue? Is difficult for an outside observer to make progress without understanding of why the if method is not principal exception exists.

[2022-06-12 02:53] FlorinAndrei opened #101 "calculate_bartlett_sphericity() crashes with dataframe but not with numpy array"
**Describe the bug**
`calculate_bartlett_sphericity()` crashes with a dataframe, but does not crash with the same dataframe.to_numpy()

This is the dataframe:

[ifanmot.csv](https://github.com/EducationalTestingService/factor_analyzer/files/8885103/ifanmot.csv)

**To Reproduce**
[code]

Output:

[code]

**Expected behavior**
If I transform the dataframe using `to_numpy()` then I get this:

[code]

[2022-06-12 03:01] FlorinAndrei opened #102 "calculate_kmo() differs from psych.KMO() in R"
**Describe the bug**
Maybe not a bug, but I get different results in R.

**To Reproduce**

This is the dataframe:

[ifanmot.csv](https://github.com/EducationalTestingService/factor_analyzer/files/8885111/ifanmot.csv)

Python code:

[code]

Python results:

[code]

R code:

[code]

R results:

[code]

Both per-value and overall results are different.

**Expected behavior**
I expected the same resul

[2022-06-14 02:51] FlorinAndrei commented on #102
My mistake. I did not realize `calculate_kmo()` is designed to be applied to the original dataset, whereas in R the `psych.KMO()` function is applied to the correlation matrix.

Once I've applied `calculate_kmo()` to the original dataset instead, the differences with R have vanished.

[2022-06-14 02:51] #102 closed

[2022-06-14 02:56] FlorinAndrei commented on #101
This is probably due to the way I apply `calculate_bartlett_sphericity()` in the example above, which is wrong. I apply it to the correlation matrix, similar to the `cortest.bartlett()` function in R.

But `calculate_bartlett_sphericity()` needs to be applied to the original data instead.

If I apply it to the original data (`calculate_bartlett_sphericity(ifanmot.iloc[:, 0:42])`) then it does not

[2022-06-14 02:56] #101 closed

[2022-06-14 03:04] FlorinAndrei opened #103 "FactorAnalyzer(method="principal") throws sklearn FutureWarning in randomized_svd()"
**Describe the bug**
`FactorAnalyzer(method="principal")` triggers a FutureWarning in sklearn's `randomized_svd()`.

**To Reproduce**
Use this dataset:

[ifanmot.csv](https://github.com/EducationalTestingService/factor_analyzer/files/8895990/ifanmot.csv)

Code:

[code]

Warning:

[code]

I cannot find a way to turn this warning off.

**Expected behavior**
There should be no warning.

**Desktop (pl

[2022-06-14 03:57] FlorinAndrei opened #104 "how to get Proportion Explained, RMSR and chi-squared?"
**Is your feature request related to a problem? Please describe.**
Dataset:

[ifanmot.csv](https://github.com/EducationalTestingService/factor_analyzer/files/8896221/ifanmot.csv)

R code:

[code]

R output:

[code]

**Describe the solution you'd like**
Using `FactorAnalyzer(n_factors=3, rotation="varimax", method="principal")` in Python I know how to get SS loadings, Proportion Var, and Cumulative

[2022-06-15 16:20] desilinguist commented on #104
Closely related to #99.

[2022-08-05 06:15] pjuergens opened #107 "Current release on conda"
**Describe the bug**
On conda the current release is v0.3.2 https://anaconda.org/desilinguist/factor_analyzer

This should be updated to the current version v0.4.0 to include the latest bugfixes.

[2022-08-05 06:53] pjuergens opened #108 "Mistake in correlation-function"
**Describe the bug**
The function `corr(x)` doesn't return the correlation matrix. For the dataframe I am using with 40 rows/observations and 73 columns/variables (which unfortunately I cannot publish here) and no nan-values the diagonal elements of the computed correlation matrix are 0.975 instead of 1. Using the pandas `df.corr()` leads to the correct result.

It seems to me that the degrees of

[2022-08-05 13:57] desilinguist commented on #107
That channel is no longer updated. Please use the "ets" conda channel as the README states. That's where all the new releases go.

[2022-08-05 13:58] #107 closed

[2022-08-29 13:12] #96 closed

[2022-08-29 13:12] desilinguist commented on #65
This is no longer on the roadmap.

[2022-08-29 13:12] #65 closed

[2022-08-31 13:39] celip38 commented on #89
I encounter the same issue (negative factor loadings):

I'm using:
pandas 1.4.3
numpy 1.21.5
python 3.9.12

Which version of packages do you suggest for avoiding this please?

Thanks!

[2022-09-01 17:50] desilinguist commented on #89
@celip38 please share your data, if possible, so we can try to reproduce the issue.

[2022-09-01 17:50] desilinguist commented on #108
@pjuergens would it be possible for you to create a minimal example that illustrates the issue so we can use it as a test?

[2022-09-01 17:51] #54 closed

[2022-09-01 17:59] desilinguist commented on #103
Duplicate of #94 - fix already merged.

[2022-09-01 17:59] #103 closed

[2022-09-01 23:10] andrew-d-moses opened #109 "Only 3 factors appear in factor loading matrix, but "n_factors=5" as input. Likely my error but I cannot find it."
**Describe the bug**
I entered 5 factors in my code, but only 3 are rendering when printing the factor loading matrix.  Wondering what my mistake was?
[sample_data.csv](https://github.com/EducationalTestingService/factor_analyzer/files/9473836/sample_data.csv)

df = pd.read_csv('C:/Users/AndyMoses/Desktop/ItemAnalysis/src/static_project/sample_data.csv')
fa_varimax = FactorAnalyzer(rotation="varim

[2022-09-02 08:06] Db-pckr commented on #89
@desilinguist You can use the data I presented above to test this problem.

[2022-09-03 17:41] desilinguist commented on #89
Thanks @Db-pckr. I can replicate this on my end too with the latest numpy library.

I poked around a bit and found that `numpy.linalg.eigh()` used for the eigenvalue decomposition was returning an all-negative first eigenvector for this correlation matrix whereas if the more general – but less efficient – ``numpy.linalg.eig()`` returns an all-positive first eigenvector, viz.

With `eigh()`:
[code]

[2022-09-03 18:36] jbiggsets commented on #89
Yes, I would be inclined not to change this, since it doesn't really strike me as a bug and we use `eigh` pretty consistently throughout. Maybe we can mention it in the documentation?

[2022-09-03 18:46] desilinguist commented on #89
Adding to the documentation sounds like a good idea. I'll do that!

[2022-09-03 19:28] jbiggsets commented on #109
Hi @andrew-d-moses, I'm not able to reproduce this error. I think what's going on is you're first fitting the model with the default value for `n_factors` (which is 3), and assigning that to `fa_varimax `. Then you create a new `FactorAnalyzer` instance, which you don't assign to anything.

So, when you retrieve the loadings, you're retrieving the loadings from `fa_varimax`, which was fit with the

[2022-09-03 19:50] jbiggsets commented on #88
Hi @LilianYou, thanks for sharing the code and data.

I'm not able to reproduce this issue. Can you provide some additional details about your environment? (What version of Python are you using, and what package versions?)

![image](https://user-images.githubusercontent.com/30508716/188285830-dcecc803-a4a1-4400-bcc1-9dff4551c162.png)

[2022-09-05 07:16] celip38 commented on #89
Thanks a lot!

[2022-09-05 15:04] desilinguist opened #110 "Add pre-commit checks and apply them to all existing code"
We should add the basic pre-commit checks (`black`, `pydocstyle`, `pylint`, etc.) since that would improve the quality and consistency of any new commits being added. We should also apply them to all of the existing code and reformat/fix any identified issues.

We should also clean up the docstrings to update dates and email addresses and the like.

[2022-09-05 19:57] jbiggsets commented on #108
Working on this issue. This is actually a disconnect between numpy and pandas, since they calculate the standard deviation differently (numpy with `ddof=0` as the default).

If we pass a numpy array to this `corr()` function, we get the correct correlation matrix, but that's not the case with a DataFrame, so we'll have to check to see which type of object is being passed and set `ddof` accordingly

[2022-09-05 21:01] #108 closed

[2022-09-08 02:02] #110 closed

[2022-09-08 15:19] #71 closed

[2022-09-08 15:19] desilinguist commented on #71
Addressed by #113.

[2022-09-08 22:38] #62 closed

[2022-09-08 22:38] #89 closed

[2022-09-08 22:38] #90 closed

[2022-09-13 22:10] #109 closed

[2022-09-19 13:07] szorowi1 opened #116 "random initial values for rotation matrix in GPA rotations"
Hi all. First, thanks so much to the devs of `factor_analyzer`. It's a fantastic and much needed package!

**Is your feature request related to a problem? Please describe.**

As has been pointed out, the GPA rotation methods often converge to local minima ([Browne, 2001](https://doi.org/10.1207/S15327906MBR3601_05); [Bernaards & Jennrich, 2005](https://doi.org/10.1177/0013164404272507); [Nguyen &

[2022-09-20 15:42] desilinguist commented on #116
Hi @szorowi1, this is a great idea! We will try to include this in the next release.

[2022-09-20 20:40] szorowi1 commented on #116
Awesome, I'm happy to hear you think it's a good idea! I opened a PR (#117) to get this started. I've modified the `Rotator` class as suggested above.

[2022-11-16 14:17] kaan0nder opened #118 "Regression method to calculate factor scores"
When I check the factor analysis in SPSS, there is a method to calculate factor scores with Regression and other 2 methods (Bartlett and Anderson-Rubin).

When I check the factor_analyzer library, we can calculate factor scores with FactorAnalyzer().fit_transform() method but there is no option to calculate, just write the transform method and get the results.

Is that possible to calculate factor

[2022-11-28 18:54] desilinguist commented on #118
The `transform()` method in `FactorAnalyzer` [uses](https://github.com/EducationalTestingService/factor_analyzer/issues/118) `np.linalg.solve()` to solve for the weights. Regression methods are currently not supported.

[2022-11-28 18:54] #118 closed